*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: black;
    
    }header{
        background-color: rgb(179, 69, 0);
        height: 15vh;
        width: 100vw;
        text-align: center;
    }
    nav {
        float: left;
        width: 20vw;
        height: 70vh; 
        background: #9d0000;
        
    }
    article {
        float: right;
        width: 80vw;
        background-color: #017603;
        height: 70vh; 
      }
      footer {
       
        width: 100vw;
        height: 15vh;
        float: left;
        background-color: #777;
      }
      .box1{
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        background-color: rgb(193, 116, 14);
        width: 100px;
        height: 70px;
        display: flex;
        justify-content: center; 
        align-items: center;
    
      }
      .box2{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        background-color:rgb(193, 116, 14); 
        width: 200px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .boxMain{
        height: 85vh;
        width: 100vw;
        background-color: black;
      }
      .boxSmall{
        padding-left: 10px;
        margin-left: 5vw;
        margin-top: 3vw;
        height: 20vh;
        width: 90vw;
        background-color: aquamarine;

      }
      .image{

        background-color: #9d0000;
        height: 100px;
        width: 100px;
      }
      .textBox{
        background-color: purple;
        font-size: 10px;
        margin-left: 10vw;
        height: 100px;
        width: 70vw;
       margin-top: -35px;
        
        
      }
    